body{
    background-color: #2b2e4a;
    color: #e84545;
}
h1{
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 4px black;
}
#pfpicdiv {
    padding-top: 4%;
    
}
.pfpic {
    box-shadow: 10px 10px 10px black;

}
.bar{
    width: 100%;
    
    background-color:#903749 ;
}
